

.main-container {
    display:table;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    min-height: calc(100vh);
    overflow: hidden;
}

.row {
    height: 100%;
    color: white;
}

.tab-list
{
    padding: 0px!important;
    height: 100%;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.modal-style
{
    border: 0px!important;
    margin-top: 50px;
    
}

.modal-style div div
{
    background-color: #1a1b20!important;    
    color: white;
}