

.main-container {
    display:table;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    min-height: calc(100vh);
    overflow: hidden;
}

.row {
    height: 100%;
    color: white;
}

.tab-list
{
    padding: 0px!important;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.modal-style
{
    border: 0px!important;
    margin-top: 50px;
    
}

.modal-style div div
{
    background-color: #1a1b20!important;    
    color: white;
}

.search-bar
{
    margin: 0px 5px 0px 0px;
    width: 68%!important;
    padding-left: 10px!important;
}

.search-btn
{
    width: 15%!important;
    margin: 0px 4px 0px 4px;
}

.form-checkbox
{
    display: flex!important;
    align-items: center;
}