.main-container
{
    display: grid;
    grid-template-areas:
        "ad ad kk"
        "a1 a1 kk"
        "ax ax kk"
        "rr rr kk";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto minmax(100px, 320px);
    min-height: calc(100vh - 64px);
    position: relative;
    z-index: 1;
}

.dashboard-container {
    display:table;

    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    min-height: calc(100vh);
    overflow: hidden;
}

.row {
    height: 100%;
    color: white;
}

.userlist
{
    padding: 0px!important;
    height: 100%;
}

.row .no-float {
  display: table-cell;
  float: none;
}